.a{
    height: 80vh;
    width: 100%;
    /* background-color: #66BB79; */
    background-color: #83c5be;
    display: flex;
    align-items: center;
}

.a-left{
flex: 1
}

.a-right{
flex:1;
width: 75%;
height: 100%;
/* padding: 10% 0; */
justify-content: center;
}

.a-img{
    width: 85%;
    height: 100%;
    transition: all 2.5s ease-in-out;
    transition-delay: .2s;
}

.a-img:hover{
    transition: all 1.5s ease-in-out;
    transform: scale(1.1);
    transition-delay: .3s;
}

.progress{
    transition: 1.5s ease;
  transition-delay: .5s;
}

@media screen and (max-width: 640px) {
    .a{
        padding-top:5%;
        flex-direction: column;
        height:fit-content;
    }
}