.a{
    height: 80vh;
    width: 100%;
    /* background-color: #66BB79; */
    background-color: #83c5be;
    display: flex;
    align-items: center;
}

.a-left{
flex: 1
}

.a-right{
flex:1;
width: 75%;
height: 100%;
padding: 10% 0;
}

.a-img{
    width: 85%;
    height: 100%;
}

@media screen and (max-width: 480px) {
    .a{
        padding-top:5%;
        flex-direction: column;
        height:fit-content;
    }
}